<mat-form-field appearance="outline">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="segmento_mercado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Segmento de mercado </th>
        <td mat-cell *matCellDef="let row"> {{row.segmento_mercado}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="propuesta_valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Propuesta valor </th>
        <td mat-cell *matCellDef="let row"> {{row.propuesta_valor}} </td>
      </ng-container>
  
      <!-- Fruit Column -->
      <!-- <ng-container matColumnDef="actividades_clave">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actividades clave </th>
        <td mat-cell *matCellDef="let row"> {{row.actividades_clave}} </td>
      </ng-container> -->

       <!-- Fruit Column -->
       <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let row"> 
          <button class="no-background" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item
            (click)="navigateCanvasModel(row.id)"
            >
              <mat-icon>feed</mat-icon>
              <span>Ver canvas</span>
            </button>
           
            <button mat-menu-item
            (click)="open_edit_canvas(row)"
            >
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>

            <button mat-menu-item
            (click)="delete_canvas(row.id)"
            >
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>

          </mat-menu>
          
        </td>
        
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  
  
