/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    padding: 1rem;
    margin: 0.5rem;
}

.shadow {
    box-shadow: 2px 2px 5px #999;
}

.success{
    background-color: green !important;
    color: white !important;
}

.error{
    background-color: red !important;
    color: white !important;
}

.info{
    background-color: rgb(94, 209, 209) !important;
    color: white !important;
}

.no-background{
    background-color: white !important;
    border: none;
    cursor:pointer;
}
